.App {
  height: 100vh; /*Sets the height to take up the full height of the user's viewport i.e. webpage*/
  background-color: rgb(238, 195, 117); /* sets the background-color for the entire app*/
  box-sizing: border-box;/* sets how elements in the app should be sized */
}

.header { /* styles the main title heading of the app */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(1, 1, 37);/*set a custom color*/
  text-shadow: 2px 2px 4px white;
  margin-bottom: 45px;
  text-align: center;
}

.form-box { /* custom styles the form element that the user has to complete to add a new project to the database */
  width: 310px;
  background-color: rgb(164, 230, 99);
  padding: 14px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px black;
  margin: 0 auto;
}

.form-field { /* custom styles for the form fields the user has to complete for each project */
  display: flex;
  width: 282px;
  margin: 4px 0;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.update { /* style declarations for the update form */
  background-color: lightgray;
  box-shadow: none;
}

.update button {
  /* add margin around the update button */
  margin: 5px 2px 0 2px;
}

.form-box button {
  border: none;
  background-color: rgb(32, 113, 116);
  padding: 3px;
  color: white;
  margin-top: 8px;
  border-radius: 3px;
}

/*Aligns content when displaying each project*/
.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 50px auto;
}

/*Styles each individual project item*/
.project-item {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 7px;
  background-color: lightgray;
  box-shadow: 2px 2px 8px black;
  border-radius: 4px;
}

.item-field {
  margin: 15px 0;
}

.actions {
  /*use flexbox to align the actions i.e. delete and update*/
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
}

.delete {
  color: red;
  cursor: pointer;
}

.edit {
  color: orange;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}
